.custom-btn {
	font-size: var(--txt-s);
	transition: 0.3s;

	&.variant {
		&-default {
			background: var(--color-primary-600);
			border-color: var(--color-primary-600);
			color: var(--color-shades-00);

			&:hover {
				background: var(--color-primary-700);
			}
		}

		&-link {
			background: none;
			border: none;
			color: var(--color-shades-100);

			&:hover {
				background: none;
			}
		}
	}

	&.size {
		&-default {
			height: 45px;
		}
	}
}
